<div>
    <h4 class="heading">@Title</h4>
    <p class="text">@Desciription</p>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Desciription { get; set; }
}